#box {
       width:400px;
       height:80px;
       background-color:yellow;
       }

#sport {
        width:400px;
        height:80px;
        background-color:green;
        } 

#car {
      width:400px;
      height:80px;
      background-color:red;
      }

#bat {
       height:240px;
       width:133px;
       background-color:yellow;
       margin-top:100px;
       margin-left;50px;
       }
#border {
         border-left:solid 133px blue;
        
         border-right:solid red 133px;
          }
         
       
